# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore SimpleTest multi-site environment.
sites/simpletest

# Ignore folders
sites/all/config/active/

sites/all/tests/vendor
sites/all/tests/features/failures
sites/all/tests/failures

sites/all/.sass-cache

settings.php.orig